$main-color:#90D4C6;
$secondary-color:#458D7E;
$w-100:100%;
$text-white:white;
$bg-black : black;
$position-absolute : absolute;
$position-relative : relative;
$padding :10px;
$margin-zero  : 0;
$width : 10;
$font-size-basic:12;
$with-max:1444px;
$ligth-gray: #A7AAAD;
