.menu-hamburger{
  display: none;
}


header{
  @include background("../assets/pictures/header.jpg",cover);
  height: 700px;
  @include display(flex,row);
  @include display($name:flex,$direction: row,$justifyContent:space-around);
  & .logo{
    @include display($name:block);
    width: 140px;
    height: 60px;
    margin-top: 30px;

  }
  & h1{
    position: $position-absolute;
    @include position($top:150px,$left:750px);
    font-size: 56px;
    color: white;

  }
  & nav.navbar{
    margin-top: 30px;
    width: 30%;
    @include display(flex,row);
    justify-content: space-between;
    & ul{
      list-style-type: none;
      width: 100%;
      @include display(flex);
      & li{
        & a{
          padding: 10px;
          color: white;
          &:hover{
            color: white;
            background-color: rgba(255, 255, 255, 0.25);
            border-radius:20px;
          }
        }

      }
    }

  }
  & .navbar-responsive{
    display: block;
    top:100px;
    position : absolute;
    background: white;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    & ul{
      list-style-type: none;
      margin: 0px;
      padding: 50px;
    }
    & li{
      padding: 10px;
    }
    & a{
      text-decoration: none;
      color: black;
    }
  }
}