body {
  max-width: 1444px;
  margin: auto;
  overflow-x: hidden;
  background: #F2F2F2; }

.center {
  text-align: center; }

.d-flex {
  display: flex; }

.row-reverse {
  flex-direction: row-reverse; }

.font-family-openSans {
  font-family: "Open Sans", sans-serif; }

.column {
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .column h1 {
    font-size: 40px; }
  .column p {
    width: 60%; }
  .column a {
    display: block;
    position: relative;
    right: 180px;
    font-size: 15px;
    color: black;
    text-decoration: none; }

footer {
  background: #90D4C6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px; }

.navbar:not(header nav) {
  width: 100%;
  align-items: center; }
  .navbar:not(header nav) ul {
    display: flex;
    justify-content: center;
    list-style-type: none; }

.navbar__link {
  color: #458D7E;
  padding-top: 10;
  padding-right: 10;
  padding-bottom: 10;
  padding-left: 10;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 20px;
  text-decoration: none;
  font-size: 18px; }
  .navbar__link:hover {
    color: white; }

footer h1 {
  color: #458D7E;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; }
footer section {
  width: 100%; }
  footer section ul {
    display: flex;
    justify-content: center;
    list-style-type: none; }
    footer section ul a img {
      display: block;
      margin-top: 0;
      margin-right: 15px;
      margin-bottom: 0;
      margin-left: 15px; }
      footer section ul a img:hover {
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1); }

.testimonials {
  margin: 50px; }
  .testimonials section {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .testimonials section div {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .testimonials section div img {
        width: 72px;
        height: 72px;
        border-radius: 50%; }
      .testimonials section div p {
        width: 75%; }
      .testimonials section div h3 {
        color: #A7AAAD;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 120px;
        margin-left: 0; }

.testimonial--heading {
  text-align: center;
  color: #A7AAAD;
  margin-top: 150px;
  margin-bottom: 50px;
  text-transform: uppercase; }

.galery {
  display: flex;
  display: flex; }
  .galery .galery--item {
    width: 360px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0; }
  .galery .galery--image {
    width: 100%; }

.hobbies {
  display: flex;
  align-items: center; }
  .hobbies div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 500px;
    padding-bottom: 50px; }
  .hobbies p {
    width: 50%; }
  .hobbies .hobbies--item:first-child {
    background: url("../assets/pictures/photography.jpg") no-repeat;
    background-size: cover; }
  .hobbies .hobbies--item:last-child {
    background: url("../assets/pictures/graphic-design.jpg") no-repeat;
    background-size: cover; }

header {
  background: url("../assets/pictures/header.jpg") no-repeat;
  background-size: cover;
  height: 700px;
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  header .logo {
    display: block;
    width: 140px;
    height: 60px;
    margin-top: 30px; }
  header h1 {
    position: absolute;
    top: 150px;
    right: 0;
    bottom: 0;
    left: 750px;
    font-size: 56px;
    color: white; }
  header nav.navbar {
    margin-top: 30px;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    header nav.navbar ul {
      list-style-type: none;
      width: 100%;
      display: flex; }
      header nav.navbar ul li a {
        padding: 10px;
        color: white; }
        header nav.navbar ul li a:hover {
          color: white;
          background-color: rgba(255, 255, 255, 0.25);
          border-radius: 20px; }

/*# sourceMappingURL=styles.css.map */
