@import "variables";
@import "mixin";

body{
  max-width:$with-max;
  margin: auto;
  overflow-x: hidden;
  background: #F2F2F2;
}
.center{
  text-align: center;
}
.d-flex{
  @include display(flex);
}
.row-reverse{
  flex-direction: row-reverse;
}
.font-family-openSans{
  font-family: 'Open Sans', sans-serif
}
.column{
  flex-direction: column;
  @include d-flex-center();

  & h1{
    font-size: 40px;
  }
  & p{
    width: 60%;
  }
  & a{
    @include display(block);
    position: relative;
    right: 180px;
    font-size: 15px;
    color: black;
    text-decoration: none;


  }

}
footer{
  background: $main-color;
  @include display(flex,column);
  align-items: center;
  padding: 50px;

}
.navbar:not(header nav){
  width: $w-100;
  align-items: center;
  & ul{
    @include display(flex);
    justify-content: center;
    list-style-type: none ;
  }
}
.navbar__link{
  color: $secondary-color;
  @include padding(10,10,10,10);
  @include margin($right:20px,$left:20px);
  text-decoration: none;
  font-size: 18px;
  &:hover{
    color: white;
  }

}
footer{
  & h1{
    color: $secondary-color;
    @include margin();
  }
  & section{
    width: $w-100;
    & ul{
      @include display(flex);
      justify-content: center;
      list-style-type: none;
      & a{

        & img{
          @include display(block);
          @include margin($left:15px,$right:15px);
          &:hover{
            @include filter();
          }
        }
      }
    }

  }

}

.testimonials{
  margin: 50px;
  & section{
    @include display(flex,row);
    justify-content: center;
    & div{
      @include display(flex,column);
      align-items: center;
      & img{
        width: 72px;
        height: 72px;
        border-radius: 50%;
      }
      & p{
        width: 75%;
      }
      & h3{
        color: #A7AAAD;
        @include margin($bottom:120px);
      }
    }
  }
}
.testimonial--heading{
  text-align: center;
  color: #A7AAAD;
  margin-top: 150px;
  margin-bottom: 50px;
  text-transform: uppercase;

}

.galery{
  display: flex;
  @include display($name:flex);
  & .galery--item{
    width: 360px;
    @include margin();
  }
  & .galery--image{
    width: $w-100;
  }

}

.hobbies{
  @include display($name:flex,$alignItems:center);


  & div{
    width: 50%;
    @include display($name:flex,$direction: column,$justifyContent:flex-end, $alignItems:center);
    height: 500px;
    padding-bottom: 50px;
  }
  & p{
    width: 50%;
  }
  & .hobbies--item:first-child{
  @include background("../assets/pictures/photography.jpg",cover);
  }
  & .hobbies--item:last-child{
    @include background("../assets/pictures/graphic-design.jpg",cover);

  }
}

header{
  @include background("../assets/pictures/header.jpg",cover);
  height: 700px;
  @include display(flex,row);
  @include display($name:flex,$direction: row,$justifyContent:space-around);
  & .logo{
    @include display($name:block);
    width: 140px;
    height: 60px;
    margin-top: 30px;

  }
  & h1{
    position: $position-absolute;
    @include position($top:150px,$left:750px);
    font-size: 56px;
    color: white;

  }
  & nav.navbar{
    margin-top: 30px;
    width: 30%;
    @include display(flex,row);
    justify-content: space-between;
    & ul{
      list-style-type: none;
      width: 100%;
      @include display(flex);
      & li{
        & a{
          padding: 10px;
          color: white;
          &:hover{
           color: white;
            background-color: rgba(255, 255, 255, 0.25);
            border-radius:20px;
          }
        }

      }
    }

  }
}

@media screen and(max-width: 1444px) {
  body {
    @include display($name: flex, $direction: colum);
    justify-content: center;
    background: red;
  }
  .testimonial--heading {
    width: 100%;
    color: white;
    text-transform: uppercase;

  }
  .testimonials {
    & section {
      @include display(flex, column);
      /*justify-content: center;*/
      & div {
        @include display(flex, column);
        align-items: center;

        & img {
          width: 72px;
          height: 72px;
          border-radius: 50%;
        }

        & p {
          width: 30%;
          text-align: center;
        }

        & h3 {
          color: #A7AAAD;
          @include margin($bottom: 120px);
        }
      }
    }
  }

  /* gallerie */
  .galery {
    /*display: flex;
    @include display($name: flex,$direction:row);
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;*/


    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
    height: 500px;

    & .galery--item {

      border: black 1px solid;
     /* width: 360px;
      @include margin();*/
    }

    & .galery--image {
      width: $w-100;
    }

  }
}

