body {
  max-width: 1444px;
  margin: auto;
  overflow-x: hidden;
  background: #F2F2F2; }

.menu-hamburger {
  display: none; }

.center {
  text-align: center; }

.d-flex {
  display: flex; }

.row-reverse {
  flex-direction: row-reverse; }

.font-family-openSans {
  font-family: "Open Sans", sans-serif; }

.column {
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .column h1 {
    font-size: 40px; }
  .column p {
    width: 60%; }
  .column a {
    display: block;
    position: relative;
    right: 180px;
    font-size: 15px;
    color: black;
    text-decoration: none; }

footer {
  background: #90D4C6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px; }

.navbar:not(header nav) {
  width: 100%;
  align-items: center; }
  .navbar:not(header nav) ul {
    display: flex;
    justify-content: center;
    list-style-type: none; }

.navbar__link {
  color: #458D7E;
  padding-top: 10;
  padding-right: 10;
  padding-bottom: 10;
  padding-left: 10;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 20px;
  text-decoration: none;
  font-size: 18px; }
  .navbar__link:hover {
    color: white; }

.works {
  position: relative; }

.works--link:hover ~ div:first-of-type {
  position: absolute;
  bottom: 28%;
  left: 270px;
  opacity: 0.5;
  height: 10px;
  width: 80px;
  background: #FAD400;
  border-radius: 15px; }
.works--link:hover ~ div:first-of-type {
  position: absolute;
  left: 865px;
  bottom: 28%;
  opacity: 0.5;
  height: 10px;
  width: 80px;
  background: #FE7766;
  border-radius: 15px; }

footer h1 {
  color: #458D7E;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; }
footer section {
  width: 100%; }
  footer section ul {
    display: flex;
    justify-content: center;
    list-style-type: none; }
    footer section ul a img {
      display: block;
      margin-top: 0;
      margin-right: 15px;
      margin-bottom: 0;
      margin-left: 15px; }
      footer section ul a img:hover {
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1); }

.testimonials {
  margin: 50px; }
  .testimonials section {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .testimonials section div {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .testimonials section div img {
        width: 72px;
        height: 72px;
        border-radius: 50%; }
      .testimonials section div p {
        width: 75%; }
      .testimonials section div h3 {
        color: #A7AAAD;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 120px;
        margin-left: 0; }

.testimonial--heading {
  text-align: center;
  color: #A7AAAD;
  margin-top: 150px;
  margin-bottom: 50px;
  text-transform: uppercase; }

.galery {
  display: flex; }
  .galery .galery--item {
    width: 360px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0; }
  .galery .galery--image {
    width: 100%; }

.hobbies {
  display: flex;
  align-items: center; }
  .hobbies div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 500px;
    padding-bottom: 50px; }
  .hobbies p {
    width: 50%; }
  .hobbies .hobbies--item:first-child {
    background: url("../assets/pictures/photography.jpg") no-repeat;
    background-size: cover;
    background-position: center; }
  .hobbies .hobbies--item:last-child {
    background: url("../assets/pictures/graphic-design.jpg") no-repeat;
    background-size: cover;
    background-position: center; }

header {
  background: url("../assets/pictures/header.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  header .logo {
    display: block;
    width: 140px;
    height: 60px;
    margin-top: 30px; }
  header h1 {
    position: absolute;
    top: 150px;
    right: 0;
    bottom: 0;
    left: 750px;
    font-size: 56px;
    color: white; }
  header nav.navbar {
    margin-top: 30px;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    header nav.navbar ul {
      list-style-type: none;
      width: 100%;
      display: flex; }
      header nav.navbar ul li a {
        padding: 10px;
        color: white; }
        header nav.navbar ul li a:hover {
          color: white;
          background-color: rgba(255, 255, 255, 0.25);
          border-radius: 20px; }
  header .navbar-responsive {
    display: block;
    top: 100px;
    position: absolute;
    background: white;
    opacity: 0;
    transition: opacity 1s ease-in-out; }
    header .navbar-responsive ul {
      list-style-type: none;
      margin: 0px;
      padding: 50px; }
    header .navbar-responsive li {
      padding: 10px; }
    header .navbar-responsive a {
      text-decoration: none;
      color: black; }

@media screen and (max-width: 1444px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white; }

  .menu-hamburger {
    display: block;
    position: relative;
    left: 40px;
    top: 30px;
    width: 40px;
    height: 40px; }
    .menu-hamburger:active ~ nav:last-of-type {
      opacity: 1; }

  header nav.navbar {
    display: none; }

  .works {
    display: flex;
    flex-direction: column-reverse; }
    .works div:first-of-type {
      width: 100%; }
    .works img {
      text-align: center;
      width: 100%; }

  .testimonial--heading {
    width: 100%;
    color: white;
    text-transform: uppercase; }

  .testimonials .testimonial--heading {
    color: #A7AAAD;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0; }
  .testimonials section {
    display: flex;
    flex-direction: column; }
    .testimonials section div {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .testimonials section div img {
        width: 72px;
        height: 72px;
        border-radius: 50%; }
      .testimonials section div p {
        width: 70%;
        text-align: center; }
      .testimonials section div h3 {
        color: #A7AAAD;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 120px;
        margin-left: 0; }

  /* gallerie */
  .galery {
    display: grid;
    grid-template-columns: auto auto;
    /*@include margin();*/ }
    .galery .galery--item {
      width: 100%; }

  .hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    .hobbies div {
      width: 100%;
      height: 500px; }
    .hobbies p {
      width: 50%;
      font-size: 16px;
      font-weight: 900; }
    .hobbies .hobbies--item:first-child {
      background: url("../assets/pictures/photography.jpg") no-repeat;
      background-size: cover;
      background-position: center; }
    .hobbies .hobbies--item:last-child {
      background: url("../assets/pictures/graphic-design.jpg") no-repeat;
      background-size: cover;
      background-position: center; }

  .works {
    position: relative; }

  .works--link {
    font-size: 15px;
    font-weight: 900;
    color: #24303E;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px; }
    .works--link:hover ~ div:first-of-type {
      position: absolute;
      top: 4px;
      bottom: 15px;
      opacity: 0.5;
      height: 10px;
      width: 100px;
      background: green;
      border-radius: 15px; }

  .works--heading {
    text-align: center; } }

/*# sourceMappingURL=styles.css.map */
